<div class="limit">
<h4>As good as the Twitter API is, it limits the number of queries that can me made in an hour. Unfortunately, we've reached that limit but if you refresh the page in about 15 minutes we should be back up and running!</h4>
</div>