

<form action= "<%= tweets_path %>" method="get" %>

	<div class="form-group">

		<%= text_field_tag :search, params[:search], placeholder: "Enter job search term", class: "form-control"  %>

	</div>	

</form>





  <div id="container">
    <% @tweet_id.each do |tweet| %>

    	<div class="item col-md-4">
    	    <%= raw(twitter_client.oembed(tweet, omit_script: true).html) %>
    	</div>
    	

    <%end%>
  </div>

    <div class="row">



    <div class="page-button col-md-9 col-md-offset-1">
      <%= paginate @tweet_id, :window => 1 %>
    </div>
  </div>





 





