

<form action= "<%= tweets_path %>" method="get" %>

	<div class="form-group">

		<%= text_field_tag :search, params[:search], placeholder: "Enter job search term", class: "form-control"  %>

	</div>	

</form>





  <div id="container" class="js-masonry" data-masonry-options='{ "itemSelector": ".item" }'>
    <% @tweet_id.each do |tweet| %>

    	<div class="item col-md-4">
    	    <%= raw(twitter_client.oembed(tweet, omit_script: true, maxwidth: 250).html) %>
    	</div>
    	

    <%end%>
  </div>





 





